doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WeatherMan App
        link(rel="stylesheet", href="style.css")
    body 
        h1 WeatherMan App 
        p Enter a city to check the current weather conditions.
        #center 
            label(for = "city") Enter Location: 
            input(type= "text" name = "city" id="cityname" value="City") 
        br
        button(type="submit" onclick = "getData()") Submit Location
        script(src="index.js") 
//-----------------------
//- including id allows us to click on the name next to the text area to enter input
    //once the information is submitted, I want the request to return:

        div(id="image")
        //- image that weatherapi generates for the specific city will appear here  -under current,condition, icon subkey in apigenerator
        div(id="location")
        //- city and state information will appear here - under locatio,, name, region
        div(id="condition")
        //- weather conditions will appear here - under condition,text


    //-line 12 should read form(action = '/weatherResults', method = 'POST')
    //-how to incorporate media queries in pug?
