body {
    background-image: url('levan-badzgaradze-L-g5FjUXI5M-unsplash.jpg');
    /* background-color: bisque; */
    background-size: 130rem;
    }
@media (max-width: 600px){
    body{
    background-image: url('szabo-viktor-28ZbKOWiZfs-unsplash.jpg');
    background-size: 38rem;
        }
    label, input {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
        }
}
p, label {
    font-size: larger;
}

h1, p, h3, h4 {
    text-align: center;
}

button {
    margin: 0 auto;
    display: block;
}
#center {
    display: block;
    margin: 0 auto;
    width: 14%;
  }

  div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
  }

  a {
      text-decoration: none;
  }